@import './color.scss';

$pkg-prefix: rsDrawer-;

@mixin ellipsis {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  word-break: keep-all;
}

.#{$pkg-prefix}-ellipsis {
  @include ellipsis;
}

$disabled-opacity: .5;
